spring:
  application:
    name: expense_tracker_api
  datasource:
    url: jdbc:mysql://localhost:3306/expense_tracker_database?useSSL=true&requireSSL=true&serverTimezone=UTC
    username: user
    password: user
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

jwt:
  secret: JR8SA8lou4SHUu09I+IGC2XXIoIeGO1aFGHOGM1OmAA=
  expiration: 86400000